In [1]:
import json

In [2]:
{
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "swimming", "singing"],
    "age": 28,
    "children": [
        {
            "firstName": "Alex",
            "age": 5
        },
        {
            "firstName": "Bob",
            "age": 7
        }
    ]
}

{'firstName': 'Jane',
 'lastName': 'Doe',
 'hobbies': ['running', 'swimming', 'singing'],
 'age': 28,
 'children': [{'firstName': 'Alex', 'age': 5}, {'firstName': 'Bob', 'age': 7}]}

### Converting from python to json

In [9]:
import pandas as pd

In [3]:
person = {"name": "John", "age": 30, "city": "New York", "hasChildren": False, "titles": ["engineer", "programmer"]}
person_json=json.dumps(person)
print(person_json)

{"name": "John", "age": 30, "city": "New York", "hasChildren": false, "titles": ["engineer", "programmer"]}

In [4]:
print(person)

{'name': 'John', 'age': 30, 'city': 'New York', 'hasChildren': False, 'titles': ['engineer', 'programmer']}

In [5]:
type(person_json)

str

In [12]:
pass_dict={
    'nasieku':'wertyui',

}

In [6]:
type(person_json)

str

#### Creating a json file

In [26]:
with open('person.json','w+') as file:
    json.dump(person,file,indent=4,sort_keys=True)

In [27]:
with open('person.json','r') as f:
    d=f.read()
    print(d)

{
    "age": 30,
    "city": "New York",
    "hasChildren": false,
    "name": "John",
    "niaje": "poa",
    "titles": [
        "engineer",
        "programmer"
    ]
}

In [9]:
with open('person.json','r') as f:
    d=json.load(f)
    print(d)

{'age': 30, 'city': 'New York', 'hasChildren': False, 'name': 'John', 'titles': ['engineer', 'programmer']}

### Converting from json to python

In [10]:
person = json.loads(person_json)

type(person)

dict

In [11]:
person

{'age': 30,
 'city': 'New York',
 'hasChildren': False,
 'name': 'John',
 'titles': ['engineer', 'programmer']}

In [35]:
with open('person.json','r') as f:
    s=f.read()
    print(s)

"{\n    \"age\": 30,\n    \"city\": \"New York\",\n    \"hasChildren\": false,\n    \"name\": \"John\",\n    \"titles\": [\n        \"engineer\",\n        \"programmer\"\n    ]\n}"

In [50]:
with open('person.json','r') as file:
    person=json.load(file)
    print(person)

{'age': 30, 'city': 'New York', 'hasChildren': False, 'name': 'John', 'titles': ['engineer', 'programmer']}

In [27]:
s.get('name')

AttributeError: 'str' object has no attribute 'get'

In [40]:
print(person)

{
    "age": 30,
    "city": "New York",
    "hasChildren": false,
    "name": "John",
    "titles": [
        "engineer",
        "programmer"
    ]
}

In [1]:
import pandas as pd